body{
  background-color: black;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  color: white;
}

a{
  text-decoration: underline;
}

a:hover{
  text-decoration:none;
}
a:visited{
  color: #0000EE;
}

.page{
  height: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.movie{
  display: flex;
  flex-direction: row;
  max-height: 184px;
  justify-content: center;
  margin: 8px 0;
  align-items: center;
  align-content: center;
}

.movie img{
  max-height: 165px;
  margin: 9px 0;
}

.watch{
  height: 176px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.watch a{
  height: 100px;
  margin: 0;
}

.place{
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.place img{
  height: 46px;
  width: auto;
  margin: 5px;
}

.place h2{
  font-size: 150%;
  color: white;
  text-align: center;
}

.watch a{
  color: white;
  text-decoration: none;
}

.watch a:hover{
  text-decoration:underline;
}

@media (max-width: 700px){
  .place h2{
    font-size: 150%;
  }
  h1{
    font-size: 150%;
  }
  h2{
    font-size: 125%;
  }
  p{
    font-size: 75%;
  }
}

@media (max-width: 525px){
  .movie {
    max-height: 125px;
  }
  .movie img{
    max-height: 125px;
  }
  .watch{
    max-height: 125px;
  }
  .watch a{
    height: 55px;
  }
  .place{
    height: 55px;
  }
  .place h2{
    font-size: 100%;
  }
}

@media (max-width: 400px){
  .page {
    height: 300px;
  }
  .movie {
    max-height: 100px;
  }
  .movie img{
    max-height: 100px;
  }
  .watch{
    max-height: 100px;
  }
  .watch a{
    height: 50px;
  }
  .place{
    height: 50px;
  }
  .place img{
    height: 35px;
  }
}

@media (max-width: 350px){
  .movie{
    margin: 10px;
  }
  .movie img{
    margin: 5px;
  }
  .watch{
    margin: 0;
  }
  h1{
    font-size: 125%;
  }
  h2{
    font-size: 100%;
  }
  p{
    font-size: 50%;
  }
  .place h2{
    font-size: 70%;
  }
}
@media (max-width: 275px){
  .place img{
    height: 30px;
  }
  .place h2{
    font-size: 60%;
  }
}
